/**** Importation de la police Winky Rough ****/

@import url('https://fonts.googleapis.com/css2?family=Winky+Rough:ital,wght@0,300..900;1,300..900&display=swap');

/**** Reset ****/

*,
::before,
::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/**** body ****/

body {
    width: 100%;
    height: 100vh;
    background-image: url(img/pont_brooklyn.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/**** h1, p ****/

h1,
p {
    font-family: "Winky Rough", sans-serif;
    text-align: center;
    -webkit-text-stroke: 2px #ffffff;
    -webkit-text-fill-color: rgba(0, 0, 0, 0);
    font-size: calc(1rem + 7vmin + 5vmax);
    color: #ffffff;
    font-weight: 900;
    line-height: 1.5;
    text-align: center;
}

/**** h1 ****/

h1 {
    font-size: calc(1rem + 7vmin + 5vmax);
}

/**** p ****/

p {
    font-size: calc(0.5rem + 5vmin + 3vmax);
}